.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.information {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.information input {
  width: 300px;
  height: 40px;
  font-size: 15px;
  padding-left: 10px;
  margin: 5px;
}

button {
  width: 215px;
  height: 50px;
  margin-top: 15px;
  background-color: rgb(39, 194, 194);
  border: none;
  border-radius: 5px;
}

button:hover {
  cursor: pointer;
  background-color: antiquewhite;
}

.employees-display {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}